/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 body{
  font-family: ubuntu;
  background-color: #fcfcfc;
 }

nav ul a,
nav .brand-logo {
  color: #444;
}
.brand-logo{
  font-family: pacifico;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}
.block{
  width: 100%;
}
.desc{
  font-weight: bold;
}
.parallax-container {
  min-height: 360px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.round{
  padding: 10px;
  background-color: #ffab40;
  border-radius: 10px;
}
.photo{
  width: 300px;
}
.card-title{
  color: #ffab40 !important;
  font-weight: bold !important;
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .photo{
    width: 150px;
  }
  h1{
    font-size: 2em;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}